.messagebox{
    border:1px solid black;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-250px, -100px);
    width: 500px;
    height: 200px;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
button{
    padding: 7px 20px;
    align-self: center;

}
@media (max-width:768px){
    .messagebox{
        width: 300px;
        transform: translate(-150px, -100px);
    }
}
