*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.app{
  background: rgba(233, 229, 229, 0.719);
}
.app form{
  
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  color: #515357;
  justify-content: center;
  align-items: center;
  width:80%
}
h2{
  margin-bottom: 30px;
  padding-top: 20px;
  color: rgb(58, 54, 54);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.input{
  
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-self: stretch;
}
.input-box{
  display: flex;
  flex-direction: row;
}

.input-box label{
  flex-basis: 30%;
}
.input-box label span{
  color: red;
}
.input-box input,.input-box select{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(90, 85, 85);
}

.input-box div{
  flex-basis: 60%;
}
.input-box div p{
  padding: 10px;
  color: rgb(245, 87, 24);
}

 #textarea{
  /* flex-basis: 50%; */
  height: 200px;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}
.field-error{
  display: flex;
  flex-direction: column;
}
.sub{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 7px 30px ;
  background: rgb(92, 92, 211);
  color: white;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 5px;
}

#resume{
  padding: 0px;
  border:none
}
#resume::file-selector-button{
  padding: 10px 20px;
  border-radius: 5px;
  border:1px solid rgb(41, 39, 39);
  color: #515357;
  background: white;
}
.attach{
  width: 15px;
  height: 15px;
}

@media (max-width:768px){
 .input-box label{
  padding:10px 0; 
 } 
 .input-box{
  display: flex;
  flex-direction: column;
}
}

header{
  /* background: rgba(233, 229, 229, 0.719); */
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
 margin-left: auto;
 margin-right: auto; 
 max-width: 80%;
}

header img{
  width: 200px;

}
.fixed{
background: white;
position: fixed;
top:0;
left: 0;
right: 0;
height: 100px;
}
.img-box{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

}
#phoneNumber{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#cc{
  flex-basis: 20%;
  width: 100px;
}
#phone{
  flex-basis: 75%;

}

@media(max-width:768px){
  #phoneNumber{
   flex-direction: column;
    width: 100%;
  }
  #cc{

    margin-bottom: 20px;
  }
}